[submodule "tests"]
	path = tests/testdata
	url = https://github.com/ethereum/tests
[submodule "libmdbx"]
	path = libmdbx
	url = https://github.com/erthink/libmdbx
[submodule "core/trackers/trackerslist"]
	path = core/trackers/trackerslist
	url = https://github.com/ngosang/trackerslist.git
[submodule "core/snapshothashes/erigon-snapshots"]
	path = core/snapshothashes/erigon-snapshots
	url = https://github.com/ledgerwatch/erigon-snapshot.git
