[submodule "tests"]
	path = tests/testdata
	url = https://github.com/ethereum/tests
[submodule "libmdbx"]
	path = libmdbx
	url = https://github.com/erthink/libmdbx
[submodule "turbo/snapshotsync/snapshothashes/erigon-snapshots"]
	path = turbo/snapshotsync/snapshothashes/erigon-snapshots
	url = https://github.com/ledgerwatch/erigon-snapshot.git
[submodule "turbo/snapshotsync/trackers/trackerslist"]
	path = turbo/snapshotsync/trackers/trackerslist
	url = https://github.com/ngosang/trackerslist.git
