datadir: /home/erigon/.local/share/erigon
chain: hermez-bali
http: true
private.api.addr: localhost:9092
zkevm.l2-chain-id: 2440
zkevm.l2-sequencer-rpc-url: https://rpc-legacy.internal.zkevm-rpc.com/
zkevm.l2-datastreamer-url: datastream.internal.zkevm-rpc.com:6900
zkevm.l1-chain-id: 11155111
zkevm.l1-rpc-url: https://rpc.sepolia.org

zkevm.address-sequencer: "0x9aeCf44E36f20DC407d1A580630c9a2419912dcB"
zkevm.address-zkevm: "0x89BA0Ed947a88fe43c22Ae305C0713eC8a7Eb361"
zkevm.address-rollup: "0xE2EF6215aDc132Df6913C8DD16487aBF118d1764"
zkevm.address-ger-manager: "0x2968D6d736178f8FE7393CC33C87f29D9C287e78"

zkevm.default-gas-price: 1000000000
zkevm.max-gas-price: 0
zkevm.gas-price-factor: 0.12

zkevm.l1-rollup-id: 1
zkevm.l1-first-block: 4794475
zkevm.rpc-ratelimit: 250
txpool.disable: true
torrent.port: 42070
zkevm.datastream-version: 2

# debug.timers: true # Uncomment to enable timers

externalcl: true
http.api: [eth, debug, net, trace, web3, erigon, zkevm]
http.addr: 0.0.0.0
http.vhosts: any
http.corsdomain: any
ws: true
