datadir : '/Volumes/External/hermez/blueberry'
chain : "hermez-blueberry"
http : true
private.api.addr : "localhost:9093"
zkevm.l2-chain-id: 1440
zkevm.l2-sequencer-rpc-url: "https://rpc.internal.zkevm-test.net"
zkevm.l2-datastreamer-url: "stream.internal.zkevm-test.net:6900"
zkevm.l1-chain-id: 5
zkevm.l1-rpc-url: "https://rpc.eu-central-1.gateway.fm/v4/ethereum/non-archival/goerli?apikey=IkrTRMPAlsjfgTyKz1Xfa5ldS8XSc0PN.En5aU2Gwdxvf3zk2"
zkevm.l1-contract-address: "0xEfF10DB3c6445FB06411c6fc74fDCC8D1019aC7d"
zkevm.l1-block-range: 20000
zkevm.l1-query-delay: 6000
zkevm.l1-matic-contract-address: "0x1319D23c2F7034F52Eb07399702B040bA278Ca49"
zkevm.l1-ger-manager-contract-address: "0x4d9427DCA0406358445bC0a8F88C26b704004f74"
zkevm.l1-first-block: 8577775
zkevm.rpc-ratelimit: 250
torrent.port: 42071

externalcl: true
http.api : ["eth","debug","net","trace","web3","erigon","zkevm"]
