datadir: /path/to/datadirs/hermez-etrog
chain: hermez-etrog
http: true
private.api.addr: localhost:9093
zkevm.l2-chain-id: 10010
zkevm.l2-sequencer-rpc-url: http://zkevm-json-rpc:8123
zkevm.l2-datastreamer-url: 34.175.178.16:6900
zkevm.l1-chain-id: 11155111
zkevm.l1-rpc-url: https://rpc.eu-central-1.gateway.fm/v4/ethereum/non-archival/sepolia?apikey=IkrTRMPAlsjfgTyKz1Xfa5ldS8XSc0PN.En5aU2Gwdxvf3zk2
zkevm.l1-contract-address: "0xe40DF1be0d6C310Fb549059E43caf211f13dEB47"
zkevm.l1-matic-contract-address: "0x656CD78711fC777b8328439548c5e5e968bdDC56"
zkevm.l1-ger-manager-contract-address: "0x5afcC7EBc379197E011bbA02a014E63b9D3e503F"
zkevm.l1-first-block: 4937409
zkevm.rpc-ratelimit: 250
torrent.port: 42071
zkevm.datastream-version: 2

externalcl: true
http.api: [eth, debug, net, trace, web3, erigon, zkevm]
