datadir : '/Volumes/External/hermez/dev'
chain : "hermez-estest"
http : true
private.api.addr : "localhost:9093"
zkevm.l2-chain-id: 123
zkevm.l2-sequencer-rpc-url: "http://34.175.73.226:8123"
zkevm.l2-datastreamer-url: "34.175.73.226:6900"
zkevm.l1-chain-id: 11155111
zkevm.l1-rpc-url: "https://rpc.eu-central-1.gateway.fm/v4/ethereum/non-archival/sepolia?apikey=IkrTRMPAlsjfgTyKz1Xfa5ldS8XSc0PN.En5aU2Gwdxvf3zk2"

zkevm.address-sequencer: "0x7597b12b953bffe1457d89e7e4fe3da149b45d88"
zkevm.address-zkevm: "0x9b2e7dC74B5a1Ecb894F0BAAe99a9F3CB60FC455"
zkevm.address-rollup: "0x7DFba61a337741a3d2F99Cc73069c9D0De8aa933"
zkevm.address-ger-manager: "0x0FE6A2FcF455b9B8004fd625909857933d3c7494"

zkevm.l1-block-range: 20000
zkevm.l1-query-delay: 6000
zkevm.l1-first-block: 5192000
zkevm.data-stream-port: 6900
zkevm.datastream-version: 2
zkevm.data-stream-host: "127.0.0.1"
zkevm.sequencer-initial-fork-id: 8
zkevm.executor-strict: false

externalcl: true
http.api : ["eth","debug","net","trace","web3","erigon","txpool","zkevm"]
