datadir : '/path/to/datadirs/hermez-cardona'
chain : "hermez-cardona"
http : true
private.api.addr : "localhost:9092"
zkevm.l2-chain-id: 2442
zkevm.l2-sequencer-rpc-url: "https://rpc.cardona.zkevm-rpc.com/"
zkevm.l2-datastreamer-url: "datastream.cardona.zkevm-rpc.com:6900"
zkevm.l1-chain-id: 11155111
zkevm.l1-rpc-url: "https://rpc.sepolia.org"
zkevm.l1-contract-address: "0x32d33D5137a7cFFb54c5Bf8371172bcEc5f310ff"
zkevm.l1-matic-contract-address: "0x1850Dd35dE878238fb1dBa7aF7f929303AB6e8E4"
zkevm.l1-ger-manager-contract-address: "0xAd1490c248c5d3CbAE399Fd529b79B42984277DF"
zkevm.l1-block-range: 20000
zkevm.l1-query-delay: 6000
zkevm.l1-first-block: 4789190
zkevm.rpc-ratelimit: 250
txpool.disable: true
torrent.port: 42070

externalcl: true
http.api : ["eth","debug","net","trace","web3","erigon","zkevm"]