datadir: /home/erigon/.local/share/erigon
chain: hermez-bali
http: true
private.api.addr: localhost:9092
zkevm.l2-chain-id: 2440
zkevm.l2-sequencer-rpc-url: https://rpc-legacy.internal.zkevm-rpc.com/
zkevm.l2-datastreamer-url: datastream.internal.zkevm-rpc.com:6900
zkevm.l1-chain-id: 11155111
zkevm.l1-rpc-url: https://rpc.sepolia.org

zkevm.address-sequencer: ""
zkevm.address-zkevm: ""
zkevm.address-admin: "0xE2EF6215aDc132Df6913C8DD16487aBF118d1764"
zkevm.address-rollup: "0x89BA0Ed947a88fe43c22Ae305C0713eC8a7Eb361"
zkevm.address-ger-manager: "0x2968D6d736178f8FE7393CC33C87f29D9C287e78"

zkevm.l1-rollup-id: 1
zkevm.l1-matic-contract-address: "0xbA59560D9B3a697745695A01144536514afE0e2B"
zkevm.l1-first-block: 4794475
zkevm.rpc-ratelimit: 250
txpool.disable: true
torrent.port: 42070
zkevm.datastream-version: 2

externalcl: true
http.api: [eth, debug, net, trace, web3, erigon, zkevm]
http.addr: 0.0.0.0
http.vhosts: any
http.corsdomain: any
ws: true