body {
    font-size: 0.8125em;
}

.sidebar a {
    position: relative;
    display: block;
}

.sidebar a .active-pointer {
    display: none;
}

.sidebar a.active .active-pointer {
    display: inline-block;
    position: absolute;
    border-bottom: 10px solid transparent;
    border-right: 10px solid #45378E;
    border-top: 10px solid transparent;
    height: 0;
    width: 0;
    right: 0;
}