name: CI
on:
  push:
    branches:
      - devel
      - alpha
      - 'release/**'
  pull_request:
    branches:
      - devel
      - alpha
      - 'release/**'
    types:
      - opened
      - reopened
      - synchronize
      - ready_for_review

concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true

jobs:
  tests:
    if: ${{ github.event_name == 'push' || !github.event.pull_request.draft }}
    strategy:
      matrix:
        # list of os: https://github.com/actions/virtual-environments
        os:
          - ubuntu-22.04
          - macos-13
    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - uses: actions/setup-go@v4
        with:
          go-version: '1.22'
      - name: Install dependencies on Linux
        if: runner.os == 'Linux'
        run: sudo apt update && sudo apt install build-essential

      - name: Build
        run: make all

      - name: Reproducible build test
        run: |
          make erigon
          shasum -a256 ./build/bin/erigon > erigon1.sha256
          make erigon
          shasum -a256 ./build/bin/erigon > erigon2.sha256
          if ! cmp -s erigon1.sha256 erigon2.sha256; then
            echo >&2 "Reproducible build broken"; cat erigon1.sha256; cat erigon2.sha256; exit 1
          fi

      - name: Install golangci-lint
        if: runner.os == 'Linux'
        uses: golangci/golangci-lint-action@v4
        with:
          version: v1.57.2
          skip-build-cache: true
          args: --help

      - name: Install go-licenses
        if: runner.os == 'Linux'
        run: cd erigon-lib && make lint-licenses-deps

      - name: Lint
        if: runner.os == 'Linux'
        run: make lint

      - name: Test
        run: make test

      - name: SonarCloud
        if: runner.os == 'Linux'
        uses: SonarSource/sonarcloud-github-action@v2.1.1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}  # Needed to get PR information, if any
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        continue-on-error: true

  tests-windows:
    if: ${{ github.event_name == 'push' || !github.event.pull_request.draft }}
    strategy:
      matrix:
        os: [ windows-2022 ]
    runs-on: ${{ matrix.os }}

    steps:
      - name: configure Pagefile
        uses: al-cheb/configure-pagefile-action@v1.3
        with:
          minimum-size: 8GB
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v4
        with:
          go-version: '1.22'

      - uses: actions/cache@v3
        with:
          path: |
            C:\ProgramData\chocolatey\lib\mingw
            C:\ProgramData\chocolatey\lib\cmake
          key: chocolatey-${{ matrix.os }}
      - name: Install dependencies
        run: |
          choco upgrade mingw -y --no-progress --version 13.2.0
          choco install cmake -y --no-progress --version 3.27.8

      - name: Build
        run: .\wmake.ps1 all

      - name: Test
        run: .\wmake.ps1 test

      - name: Test erigon-lib
        run: cd erigon-lib && make test-no-fuzz

  docker-build-check:
    # don't run this on devel - the PR must have run it to be merged and it misleads that this pushes the docker image
    if: (${{ github.event_name == 'push' || !github.event.pull_request.draft }}) && ${{ github.ref != 'refs/heads/devel' }}
    runs-on: ubuntu-22.04

    steps:
      - uses: AutoModality/action-clean@v1
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0 # fetch git tags for "git describe"

      - name: make docker (see dockerhub for image builds)
        run: DOCKER_TAG=thorax/erigon:ci-$GITHUB_SHA DOCKER_UID=$(id -u) DOCKER_GID=$(id -g) make docker

      # check with root permissions, should be cached from previous build
      - name: sudo make docker
        run: sudo DOCKER_TAG=thorax/erigon:ci-$GITHUB_SHA DOCKER_UID=$(id -u) DOCKER_GID=$(id -g) make docker

#  automated-tests:
#    runs-on:
#      ubuntu-22.04
#    if: ${{ github.event_name == 'push' || !github.event.pull_request.draft }}
#    steps:
#      - uses: actions/checkout@v3
#
#      - name: run automated testing
#        run: BUILD_ERIGON=1 ./tests/automated-testing/run.sh
