name: Unit tests
on:
  push:
    branches:
      - main
      - 'release/**'
  pull_request:
    branches:
      - '**'
    types:
      - opened
      - reopened
      - synchronize
      - ready_for_review
    
  workflow_dispatch:

jobs:
  linux:
    concurrency:
      group: >-
        ${{
          (github.ref == 'refs/heads/main' || startsWith(github.ref, 'refs/heads/release/')) && 
          format('{0}-{1}-{2}', github.workflow, matrix.os, github.run_id) ||
          format('{0}-{1}-{2}', github.workflow, matrix.os, github.ref)
        }}
      cancel-in-progress: true
    if: ${{ github.event_name == 'push' || !github.event.pull_request.draft }}
    strategy:
      matrix:
        # list of os: https://github.com/actions/virtual-environments
        os:
          - ubuntu-latest
          - macos-latest
    runs-on: ${{ matrix.os }}

    steps:
      - name: Cleanup space
        if: runner.os == 'Linux'
        run: |
          rm -fr /opt/az \
                 /opt/microsoft \
                 /usr/share/dotnet \
                 /usr/share/miniconda \
                 /usr/share/swift

      - uses: actions/checkout@v6
        with:
          fetch-depth: 1
          lfs: true

      - name: Cleanup space
        if: runner.os == 'Linux'
        run: |
          rm -fr /opt/az \
                 /opt/microsoft \
                 /usr/share/dotnet \
                 /usr/share/miniconda \
                 /usr/share/swift

      - uses: actions/setup-go@v6
        with:
          go-version: '1.25'
          cache: true

      - name: Install dependencies on Linux runner
        if: runner.os == 'Linux'
        run: sudo apt update -y && sudo apt install -y build-essential

      - name: Testing build all
        run: make all

      - name: Reproducible build test
        run: |
          make erigon
          shasum -a256 ./build/bin/erigon > erigon1.sha256
          make erigon
          shasum -a256 ./build/bin/erigon > erigon2.sha256
          if ! cmp -s erigon1.sha256 erigon2.sha256; then
            echo >&2 "Reproducible build broken"; cat erigon1.sha256; cat erigon2.sha256; exit 1
          fi

      - name: Execute test-short
        run: make test-short

  win:
    concurrency:
      group: >-
        ${{
          (github.ref == 'refs/heads/main' || startsWith(github.ref, 'refs/heads/release/')) && 
          format('{0}-{1}-{2}', github.workflow, matrix.os, github.run_id) ||
          format('{0}-{1}-{2}', github.workflow, matrix.os, github.ref)
        }}
      cancel-in-progress: true
    if: ${{ github.event_name == 'push' || !github.event.pull_request.draft }}
    strategy:
      matrix:
        os: [ windows-2025 ]
    runs-on: ${{ matrix.os }}

    steps:
      - name: Configure Pagefile
        uses: al-cheb/configure-pagefile-action@v1.5
        with:
          minimum-size: 8GB
          disk-root: "C:"

      - uses: actions/checkout@v6
        with:
          fetch-depth: 1

      - uses: actions/setup-go@v6
        with:
          go-version: '1.25'
          cache: true

      - name: Install make
        run: choco install make -y

      - name: Testing build all
        shell: bash
        run: make all

      - name: Execute test-short
        shell: bash
        run: make test-short
