name: Lint
on:
  push:
    branches:
      - main
      - 'release/**'
  pull_request:
    branches:
      - main
      - 'release/**'
    types:
      - opened
      - reopened
      - synchronize
      - ready_for_review
  workflow_dispatch:

jobs:
  lint:
    if: ${{ github.event_name == 'push' || !github.event.pull_request.draft }}
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: actions/setup-go@v5
        with:
          go-version: '1.24'

      - name: Install golangci-lint
        if: runner.os == 'Linux'
        uses: golangci/golangci-lint-action@v6
        with:
          version: v1.63.4
          skip-cache: true

      - name: Lint
        if: runner.os == 'Linux'
        run: make lint
