name: Lint
on:
  push:
    branches:
      - main
      - 'release/**'
  pull_request:
    branches:
      - main
      - 'release/**'
    types:
      - opened
      - reopened
      - synchronize
      - ready_for_review
  workflow_dispatch:

jobs:
  lint:
    if: ${{ github.event_name == 'push' || !github.event.pull_request.draft }}
    runs-on: ubuntu-latest

    steps:
      - name: Cleanup space
        run: |
          rm -fr /opt/az \
                 /opt/microsoft \
                 /usr/share/dotnet \
                 /usr/share/miniconda \
                 /usr/share/swift

      - run: df -h

      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - uses: actions/setup-go@v6
        with:
          go-version: '1.25'

      - name: Cleanup space
        run: |
          rm -fr /opt/az \
                 /opt/microsoft \
                 /usr/share/dotnet \
                 /usr/share/miniconda \
                 /usr/share/swift

      - run: df -h

      - name: Install golangci-lint
        uses: golangci/golangci-lint-action@v9
        with:
          version: 'v2.6.2'

      - run: make lint
