name: Lint
on:
  workflow_dispatch:
  pull_request:
    branches:
      - main
      - 'release/**'
      - performance
      - performance-stable

defaults:
  run:
    shell: bash

jobs:
  lint:
    if: ${{ !github.event.pull_request.draft }}
    runs-on: ubuntu-latest
    concurrency:
      group: ${{ format('{0}-{1}', github.workflow, github.ref) }}
      cancel-in-progress: true

    steps:
      - name: Checkout custom actions
        uses: actions/checkout@v6
        with:
          fetch-depth: 1

      - uses: ./.github/actions/setup-erigon
        id: erigon

      - name: Restore golangci-lint cache
        uses: actions/cache/restore@v4
        with:
          path: ~/.cache/golangci-lint
          key: golangci-lint|${{ runner.os }}|${{ hashFiles('go.mod') }}
          restore-keys: golangci-lint|${{ runner.os }}|

      - run: make lintci

      - uses: ./.github/actions/cleanup-erigon
        if: always()

      - name: Save golangci-lint cache
        if: always()
        uses: actions/cache/save@v4
        with:
          path: ~/.cache/golangci-lint
          key: golangci-lint|${{ runner.os }}|${{ hashFiles('go.mod') }}
