name: QA - Clean exit (snapshot downloading)

on:
  push:
    branches:
      - main
      - 'release/3.*'
  pull_request:
    branches:
      - main
      - 'release/3.*'
    types:
      - ready_for_review
  workflow_dispatch:     # Run manually

jobs:
  clean-exit-sd-test:
    concurrency:
      group: >-
        ${{
          (github.ref == 'refs/heads/main' || startsWith(github.ref, 'refs/heads/release/')) && 
          format('{0}-{1}', github.workflow, github.run_id) ||
          format('{0}-{1}', github.workflow, github.ref)
        }}
      cancel-in-progress: true
    runs-on: [self-hosted, qa, long-running]
    env:
      ERIGON_DATA_DIR: ${{ github.workspace }}/erigon_data
      ERIGON_QA_PATH: /home/qarunner/erigon-qa
      WORKING_TIME_SECONDS: 600
      CHAIN: mainnet

    steps:
    - name: Check out repository
      uses: actions/checkout@v5

    - name: Clean Erigon Build & Data Directories
      run: |
        make clean
        rm -rf $ERIGON_DATA_DIR

    - name: Build Erigon
      run: |
        make erigon
      working-directory: ${{ github.workspace }}

    - name: Pause the Erigon instance dedicated to db maintenance
      run: |
        python3 $ERIGON_QA_PATH/test_system/db-producer/pause_production.py || true

    - name: Run Erigon, send ctrl-c and check for clean exiting
      id: test_step
      run: |
        set +e # Disable exit on error
        
        # Run Erigon, send ctrl-c and check logs
        python3 $ERIGON_QA_PATH/test_system/qa-tests/clean-exit/run_and_check_clean_exit.py \
          ${{ github.workspace }}/build/bin $ERIGON_DATA_DIR $WORKING_TIME_SECONDS Erigon3
  
        # Capture monitoring script exit status
        test_exit_status=$?
        
        # Save the subsection reached status        
        echo "test_executed=true" >> $GITHUB_OUTPUT
        
        # Clean up Erigon process if it's still running
        if kill -0 $ERIGON_PID 2> /dev/null; then
          echo "Terminating Erigon"
          kill $ERIGON_PID
          wait $ERIGON_PID
        fi
        
        # Check test runner script exit status
        if [ $test_exit_status -eq 0 ]; then
          echo "Tests completed successfully"
          echo "TEST_RESULT=success" >> "$GITHUB_OUTPUT"
        else
          echo "Error detected during tests"
          echo "TEST_RESULT=failure" >> "$GITHUB_OUTPUT"
        fi

    - name: Clean up Erigon data directory
      if: always()
      run: |
        rm -rf $ERIGON_DATA_DIR

    - name: Resume the Erigon instance dedicated to db maintenance
      run: |
        python3 $ERIGON_QA_PATH/test_system/db-producer/resume_production.py || true

    - name: Save test results
      if: steps.test_step.outputs.test_executed == 'true'
      env:
        TEST_RESULT: ${{ steps.test_step.outputs.TEST_RESULT }}
      run: | 
        python3 $ERIGON_QA_PATH/test_system/qa-tests/uploads/upload_test_results.py \
          --repo erigon \
          --commit $(git rev-parse HEAD) \
          --branch ${{ github.ref_name }} \
          --test_name clean-exit-snapshot-downloading \
          --chain $CHAIN \
          --runner ${{ runner.name }} \
          --outcome $TEST_RESULT \
          --result_file ${{ github.workspace }}/result.json

    - name: Upload test results
      if: steps.test_step.outputs.test_executed == 'true'
      uses: actions/upload-artifact@v4
      with:
        name: test-results
        path: ${{ github.workspace }}/result.json

    - name: Action for Success
      if: steps.test_step.outputs.TEST_RESULT == 'success'
      run: echo "::notice::Tests completed successfully"

    - name: Action for Not Success
      if: steps.test_step.outputs.TEST_RESULT != 'success'
      run: |
        echo "::error::Error detected during tests"
        exit 1