name: QA - RPC Integration Tests

on:
  push:
    branches:
      - 'release/2.*'
      - qa_tests_rpc_with_rpcdaemon  # only to debug the workflow
  pull_request:
    branches:
      - 'release/2.*'
    types:
      - ready_for_review
  workflow_dispatch:     # Run manually

jobs:
  integration-test-suite:
    runs-on: [self-hosted, Erigon2]
    env:
      ERIGON_REFERENCE_DATA_DIR: /opt/erigon-versions/reference-version/datadir
      ERIGON_TESTBED_DATA_DIR: /opt/erigon-testbed/datadir
      ERIGON_QA_PATH: /home/qarunner/erigon-qa
      RPC_PAST_TEST_DIR: /opt/rpc-past-tests
      CHAIN: mainnet

    steps:
      - name: Check out repository
        uses: actions/checkout@v4

      - name: Checkout RPC Tests Repository & Install Requirements
        run: |
          rm -rf ${{ runner.workspace }}/rpc-tests
          git -c advice.detachedHead=false clone --depth 1 --branch v0.52.0 https://github.com/erigontech/rpc-tests ${{runner.workspace}}/rpc-tests
          cd ${{ runner.workspace }}/rpc-tests
          pip3 install -r requirements.txt

      - name: Clean Erigon Build Directory
        run: |
          make clean

      - name: Build Erigon RPCDaemon
        run: |
          make rpcdaemon
        working-directory: ${{ github.workspace }}

      - name: Pause the Erigon instance dedicated to db maintenance
        run: |
          python3 $ERIGON_QA_PATH/test_system/db-producer/pause_production.py || true

      - name: Run RpcDaemon
        working-directory: ${{ github.workspace }}/build/bin
        run: |
          echo "RpcDaemon starting..."
          
          ./rpcdaemon --datadir $ERIGON_REFERENCE_DATA_DIR --http.api admin,debug,eth,parity,erigon,trace,web3,txpool,ots,net --ws --verbosity 1 > erigon.log 2>&1 &

          RPC_DAEMON_PID=$!          
          echo "RPC_DAEMON_PID=$RPC_DAEMON_PID" >> $GITHUB_ENV
          
          echo "RpcDaemon started"

      - name: Wait for port 8545 to be opened
        run: |
          for i in {1..30}; do
            if nc -z localhost 8545; then
              echo "Port 8545 is open"
              break
            fi
            echo "Waiting for port 8545 to open..."
            sleep 10
          done
          if ! nc -z localhost 8545; then
            echo "Port 8545 did not open in time"
            exit 1
          fi

      - name: Run RPC Integration Tests
        id: test_step
        run: |
          set +e # Disable exit on error
          commit=$(git -C ${{runner.workspace}}/erigon rev-parse --short HEAD)

          cd ${{ runner.workspace }}/rpc-tests/integration
          rm -rf ./mainnet/results/
          
          # Run RPC integration test runner via http
          python3 ./run_tests.py -p 8545 --continue -f --json-diff  -x debug_traceBlockByNumber/test_05.tar,\
          debug_traceBlockByNumber/test_08.tar,\
          debug_traceBlockByNumber/test_09.tar,\
          debug_traceBlockByNumber/test_10.tar,\
          debug_traceBlockByNumber/test_11.tar,\
          debug_traceBlockByNumber/test_12.tar,\
          debug_traceCallMany/test_07.tar,\
          debug_traceCallMany/test_09.json,\
          engine_exchangeCapabilities/test_1.json,\
          engine_exchangeTransitionConfigurationV1/test_01.json,\
          engine_getClientVersionV1,\
          parity_getBlockReceipts,\
          trace_rawTransaction,\
          trace_replayBlockTransactions/test_29.tar,\
          erigon_getHeaderByHash/test_02.json,\
          erigon_getHeaderByHash/test_03.json,\
          erigon_getHeaderByHash/test_04.json,\
          erigon_getHeaderByHash/test_06.json,\
          erigon_getHeaderByNumber/test_01.json,\
          erigon_getHeaderByNumber/test_02.json,\
          erigon_getHeaderByNumber/test_03.json,\
          erigon_getHeaderByNumber/test_04.json,\
          erigon_getHeaderByNumber/test_05.json,\
          erigon_getHeaderByNumber/test_06.json,\
          erigon_getHeaderByNumber/test_07.json,\
          erigon_getHeaderByNumber/test_08.json,\
          erigon_nodeInfo/test_1.json,\
          eth_coinbase/test_01.json,\
          eth_createAccessList/test_16.json,\
          eth_getTransactionByHash/test_02.json,\
          eth_submitHashrate/test_1.json,\
          eth_submitWork/test_1.json,\
          net_peerCount/test_1.json,\
          net_version/test_1.json,\
          ots_getBlockDetails/test_02.json,\
          ots_getBlockDetails/test_05.json,\
          ots_getBlockDetailsByHash/test_02.json,\
          ots_getBlockDetailsByHash/test_03.json,\
          txpool_content/test_01.json,\
          txpool_status/test_1.json,\
          web3_clientVersion/test_1.json,\
          admin_nodeInfo/test_01.json,\
          admin_peers/test_01.json,\
          eth_getWork/test_01.json,\
          eth_mining/test_01.json,\
          eth_protocolVersion/test_1.json
          
          # Capture test runner script exit status
          test_exit_status=$?
          
          # Save the subsection reached status
          echo "::set-output name=test_executed::true"
        
          # Check test runner exit status
          if [ $test_exit_status -eq 0 ]; then
            echo "tests completed successfully"
            echo
            echo "TEST_RESULT=success" >> "$GITHUB_OUTPUT"
          else
            echo "error detected during tests"
            echo "TEST_RESULT=failure" >> "$GITHUB_OUTPUT"
            
            # Save failed results to a directory with timestamp and commit hash
            cp -r ${{ runner.workspace }}/rpc-tests/integration/mainnet/results/ $RPC_PAST_TEST_DIR/mainnet_$(date +%Y%m%d_%H%M%S)_integration_$commit_http/
          fi

      - name: Stop Erigon RpcDaemon
        working-directory: ${{ github.workspace }}/build/bin
        run: |
          # Clean up rpcdaemon process if it's still running
          if kill -0 $RPC_DAEMON_PID 2> /dev/null; then
            echo "Erigon RpcDaemon stopping..."
            kill $RPC_DAEMON_PID
            echo "Erigon RpcDaemon stopped"
          else
            echo "Erigon RpcDaemon has already terminated"
          fi

      - name: Resume the Erigon instance dedicated to db maintenance
        run: |
          python3 $ERIGON_QA_PATH/test_system/db-producer/resume_production.py || true

      - name: Upload test results
        if: steps.test_step.outputs.test_executed == 'true'
        uses: actions/upload-artifact@v4
        with:
          name: test-results
          path: ${{ runner.workspace }}/rpc-tests/integration/mainnet/results/

      - name: Save test results
        if: steps.test_step.outputs.test_executed == 'true'
        working-directory: ${{ github.workspace }}
        env:
          TEST_RESULT: ${{ steps.test_step.outputs.TEST_RESULT }}
        run: |
          db_version=$(python3 $ERIGON_QA_PATH/test_system/qa-tests/uploads/prod_info.py $ERIGON_REFERENCE_DATA_DIR/../production.ini production erigon_repo_commit)
          if [ -z "$db_version" ]; then
            db_version="no-version"
          fi
          
          python3 $ERIGON_QA_PATH/test_system/qa-tests/uploads/upload_test_results.py --repo erigon --commit $(git rev-parse HEAD) --branch ${{ github.ref_name }} --test_name rpc-integration-tests --chain $CHAIN --runner ${{ runner.name }} --db_version $db_version --outcome $TEST_RESULT #--result_file ${{ github.workspace }}/result-$CHAIN.json

      - name: Action for Success
        if: steps.test_step.outputs.TEST_RESULT == 'success'
        run: echo "::notice::Tests completed successfully"

      - name: Action for Failure
        if: steps.test_step.outputs.TEST_RESULT != 'success'
        run: |
          echo "::error::Error detected during tests"
          exit 1

