name: QA - TxPool performance test

on:
  workflow_call:
  workflow_dispatch:
  # push:
  #   branches:
  #       - main
  #       - release/*
  #       - docker_pectra

jobs:
  assertoor_test:
    runs-on: ubuntu-latest

    steps:
      - name: Fast checkout git repository
        uses: actions/checkout@v4

      - name: Docker build current branch
        run: |
          docker build -t test/erigon:current .

      - name: Docker build noku-team/assertoor image
        run: |
          git clone https://github.com/noku-team/assertoor.git
          cd assertoor
          docker build -t test/assertoor:current .
          cd ..

      - name: Run regular Kurtosis + assertoor tests
        id: kurtosis_test
        uses: ethpandaops/kurtosis-assertoor-github-action@v1
        with:
          enclave_name: "kurtosis-run1-${{ github.run_id }}"
          ethereum_package_args: ".github/workflows/kurtosis/txpool-assertoor.io"
          kurtosis_extra_args: --verbosity detailed --cli-log-level trace
          persistent_logs: "true"

      - name: Save test result as artifact
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: test-result
          path: ${{ steps.kurtosis_test.outputs.test_result }}

      # todo: save result on mongodb

      # - name: Run Pectra Kurtosis + assertoor tests
      #   uses: ethpandaops/kurtosis-assertoor-github-action@v1
      #   with:
      #       enclave_name: "kurtosis-run2-${{ github.run_id }}"
      #       ethereum_package_args: ".github/workflows/kurtosis/pectra.io"
      #       kurtosis_extra_args: --verbosity detailed --cli-log-level trace
      #       persistent_logs: "true"
