name: Integration tests
on:
  push:
    branches:
      - devel
      - alpha
      - 'release/**'
  schedule:
    - cron: '20 16 * * *' # daily at 16:20 UTC
  workflow_dispatch:

jobs:
  tests:
    strategy:
      matrix:
        # list of os: https://github.com/actions/virtual-environments
        os:
          - ubuntu-22.04
          - macos-13
    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v3
      - run: git submodule update --init --recursive --force
      - uses: actions/setup-go@v4
        with:
          go-version: '1.22'
      - name: Install dependencies on Linux
        if: runner.os == 'Linux'
        run: sudo apt update && sudo apt install build-essential

      - name: test-integration
        run: make test-integration

      - name: Test erigon as a library
        env:
          GIT_COMMIT: ${{ github.event.pull_request.head.sha || github.sha }}
        run: make test-erigon-ext GIT_COMMIT=$GIT_COMMIT

  #        name: history-v3-test-integration
  #        run: make test3-integration

  tests-windows:
    strategy:
      matrix:
        os: [ windows-2022 ]
    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v3
      - run: git submodule update --init --recursive --force
      - uses: actions/setup-go@v4
        with:
          go-version: '1.22'

      - uses: actions/cache@v3
        with:
          path: |
            C:\ProgramData\chocolatey\lib\mingw
            C:\ProgramData\chocolatey\lib\cmake
          key: chocolatey-${{ matrix.os }}
      - name: Install dependencies
        run: |
          choco upgrade mingw -y --no-progress --version 13.2.0
          choco install cmake -y --no-progress --version 3.27.8

      - name: test-integration
        run: .\wmake.ps1 test-integration
