name: Kurtosis Assertoor GitHub Action

env:
  DOCKERHUB_REPOSITORY: "erigontech/erigon"
  APP_REPO: "erigontech/erigon"

on:
  workflow_call:
    inputs:
      checkout_ref:
        required: true
        type: string
      os:
        required: true
        type: string
      
   
  # workflow_run:
  #   workflows: [2CI-CD build and deploy docker images based on the last commit in the main branch]
  #   types:
  #     - in_progress
  # schedule:
  #   - cron: "0 2,14 * * *" # runs at 2am and 2pm UTC
  # workflow_dispatch:
  # pull_request:
  #   branches:
  #     - kurtosis_ci_fix
  #   types:
  #     - opened
  #     - reopened
  #     - synchronize
  #     - ready_for_review
  # push:
  #   branches:
  #     - main



jobs:
  # define_matrix:
  #  runs-on: ${{ inputs.os}}
  #  outputs:
  #    os: ${{ steps.os.outputs.os }}

  #  steps:
  #    - name: Define os
  #      id: os
  #      run: echo 'os=["ubuntu-latest"]' >> "$GITHUB_OUTPUT"

  assertoor_test:
    runs-on: ${{ inputs.os }}

    steps:
      - name: Fast checkout git repository
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 ## 4.1.7 release
        with:
          repository: ${{ env.APP_REPO }}
          fetch-depth: 1
          ref: ${{ inputs.checkout_ref }}
          path: 'erigon'

      - name: Setup go env and cache
        uses: actions/setup-go@v5
        with:
          go-version: '>=1.22'
          go-version-file: 'erigon/go.mod'
          cache-dependency-path: |
            erigon/go.sum

      - name: Get commit id
        id: getCommitId
        run: |
          cd erigon
          echo "id=$(git rev-parse HEAD)" >> $GITHUB_OUTPUT
          echo "short_commit_id=$(git rev-parse --short=7 HEAD)" >> $GITHUB_OUTPUT
          cd ..

      - name: Install dependencies on Linux
        if: runner.os == 'Linux'
        run: sudo apt update && sudo apt install build-essential

      - name: download kurtosis config
        env:
          BUILD_VERSION: "main-${{ steps.getCommitId.outputs.short_commit_id }}"
          DOCKER_URL: ${{ env.DOCKERHUB_REPOSITORY }}
        run: |
          wget -O kurtosis_config_with_p.yaml https://raw.githubusercontent.com/erigontech/erigon/main/.github/workflows/kurtosis/config.yaml
          sed 's#<<ERIGON_IMAGE_PLACEHOLDER>>#${{ env.DOCKER_URL }}:${{ env.BUILD_VERSION }}' kurtosis_config_with_p.yaml > kurtosis_config.yaml

      - name: Run Kurtosis + assertoor tests
        uses: ethpandaops/kurtosis-assertoor-github-action@v1
        with:
            enclave_name: "kurtosis-run-${{ github.run_id }}"
            ethereum_package_args: "./kurtosis_config.yaml"
            #kurtosis_extra_args: --verbosity detailed --cli-log-level trace
            enclave_dump: false

  dnotifications:
    name: Discord notification
    needs:
      - assertoor_test
    if: ${{ always() }}
    strategy:
      matrix:
        # list of os: https://github.com/actions/virtual-environments
        os:
          - ${{ fromJSON(inputs.os) }}
    runs-on: ${{ matrix.os }}

    steps:
      - name: discord notifications push
        uses: nobrayner/discord-webhook@v1
        with:
          github-token: ${{ secrets.github_token }}
          discord-webhook: ${{ secrets.DISCORD_WEBHOOK }}