name: Kurtosis Assertoor GitHub Action

env:
  DOCKERHUB_REPOSITORY: "erigontech/erigon"
  APP_REPO: "erigontech/erigon"

on:
  push:
    branches:
        - main
        - 'release/**'
  pull_request:
    branches:
      - main
  workflow_call:
  workflow_dispatch:

jobs:
  assertoor_regular_test:
    runs-on: ubuntu-latest

    steps:
      - name: Fast checkout git repository
        uses: actions/checkout@v5

      - name: Conditional Docker Login
        # Only login if we can. Workflow works without it but we want to avoid
        # rate limiting by Docker Hub when possible. External repos don't
        # have access to our Docker secrets.
        if: |
          github.repository == 'erigontech/erigon' && 
          github.actor != 'dependabot[bot]' &&
          (github.event_name != 'pull_request' || !github.event.pull_request.head.repo.fork)      
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.ORG_DOCKERHUB_ERIGONTECH_USERNAME }}
          password: ${{ secrets.ORG_DOCKERHUB_ERIGONTECH_TOKEN }}

      - name: Docker build current branch
        run: |
          docker build -t test/erigon:current .

      - name: Run regular Kurtosis + assertoor tests
        uses: ethpandaops/kurtosis-assertoor-github-action@v1
        with:
            enclave_name: "kurtosis-run1-${{ github.run_id }}"
            ethereum_package_args: ".github/workflows/kurtosis/regular-assertoor.io"
            ethereum_package_branch: "5.0.1"
            kurtosis_extra_args: --verbosity detailed --cli-log-level trace
            persistent_logs: "true"

  assertoor_pectra_test:
    runs-on: ubuntu-latest

    steps:
      - name: Fast checkout git repository
        uses: actions/checkout@v5

      - name: Conditional Docker Login
        # Only login if we can. Workflow works without it but we want to avoid
        # rate limiting by Docker Hub when possible. External repos don't
        # have access to our Docker secrets.
        if: |
          github.repository == 'erigontech/erigon' && 
          github.actor != 'dependabot[bot]' &&
          (github.event_name != 'pull_request' || !github.event.pull_request.head.repo.fork)
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.ORG_DOCKERHUB_ERIGONTECH_USERNAME }}
          password: ${{ secrets.ORG_DOCKERHUB_ERIGONTECH_TOKEN }}

      - name: Docker build current branch
        run: |
          docker build -t test/erigon:current .

      - name: Run Pectra Kurtosis + assertoor tests
        uses: ethpandaops/kurtosis-assertoor-github-action@v1
        with:
            enclave_name: "kurtosis-run2-${{ github.run_id }}"
            ethereum_package_args: ".github/workflows/kurtosis/pectra.io"
            ethereum_package_branch: "5.0.1"
            kurtosis_extra_args: --verbosity detailed --cli-log-level trace
            persistent_logs: "true"
