name: All tests (with -race)

on:
  push:
    branches:
      - 'release/**'
      - main
  pull_request:
    branches:
      - 'release/**'
      - 'main'
  workflow_dispatch:

defaults:
  run:
    shell: bash

jobs:
  load-matrix:
    runs-on: ubuntu-latest
    outputs:
      test-groups: ${{ steps.load.outputs.groups }}
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 1
      - id: load
        run: echo "groups=$(./tools/write-test-groups --json)" >> $GITHUB_OUTPUT

  tests-linux:
    needs: load-matrix
    timeout-minutes: 90
    concurrency:
      # concurrency group: there can be at most one running and one pending job in a
      # concurrency group at any time. So for commits on main/release, we use different
      # concurrency group per commit; for other branches, we use a branch-level CG.
      group: >-
        ${{
          (github.ref == 'refs/heads/main' || startsWith(github.ref, 'refs/heads/release/')) &&
          format('{0}-{1}-{2}-{3}', github.workflow, matrix.os, matrix.test-group, github.run_id) ||
          format('{0}-{1}-{2}-{3}', github.workflow, matrix.os, matrix.test-group, github.ref)
        }}
      cancel-in-progress: true
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
        test-group: ${{ fromJson(needs.load-matrix.outputs.test-groups) }}
    runs-on: ${{ matrix.os }}

    steps:
      - name: Declare runners
        run: |
          set +x
          echo "This workflow is being executed by this runner: $RUNNER_NAME"

      - name: Checkout custom actions
        uses: actions/checkout@v6
        with:
          fetch-depth: 1

      - uses: ./.github/actions/setup-erigon
        id: erigon
        with:
          submodules: true
          lfs: tests
          build-cache-extra-key: ${{ matrix.test-group }}

      - name: Run ${{ matrix.test-group }} tests on ${{ matrix.os }}
        env:
          SKIP_FLAKY_TESTS: 'true'
          GODEBUG: cgocheck=0
          GOTRACEBACK: 1
          GOGC: 80
          CGO_CFLAGS: -D__BLST_PORTABLE__
          GOFLAGS: -race
        run: |
          make write-test-groups
          make test-group TEST_GROUP=${{ matrix.test-group }}

      - uses: ./.github/actions/cleanup-erigon
        if: always()
