name: Consensus spec
on:
  push:
    branches:
      - main
      - 'release/**'
  pull_request:
    branches:
      - main
      - 'release/**'
    types:
      - opened
      - reopened
      - synchronize
      - ready_for_review

jobs:
  tests:
    strategy:
      matrix:
        #        disable macos-15 until https://github.com/erigontech/erigon/issues/8789
        os: [ ubuntu-24.04 ] # list of os: https://github.com/actions/virtual-environments
    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-go@v5
        with:
          go-version: '1.24'
          cache: ${{ contains(fromJSON('[
            "refs/heads/release/2.60",
            "refs/heads/release/2.61",
            "refs/heads/main"
            ]'), github.ref) }}

      - name: Install dependencies on Linux
        if: runner.os == 'Linux'
        run: sudo apt update && sudo apt install build-essential

      - name: test-integration-caplin
        run: cd cl/spectest && make tests && make mainnet

  tests-windows:
    strategy:
      matrix:
        os: [ windows-2025 ]
    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-go@v5
        with:
          go-version: '1.24'
          cache: ${{ contains(fromJSON('[
            "refs/heads/release/2.60",
            "refs/heads/release/2.61",
            "refs/heads/main"
            ]'), github.ref) }}          

      - uses: actions/cache@v4
        with:
          path: |
            C:\ProgramData\chocolatey\lib\mingw
            C:\ProgramData\chocolatey\lib\cmake
          key: chocolatey-${{ matrix.os }}
      - name: Install dependencies
        run: |
          choco upgrade mingw -y --no-progress --version 13.2.0

      - name: test-integration-caplin
        run: cd ./cl/spectest/ && .\wmake.ps1 Tests Mainnet
