name: Unwinds tests
on:
  pull_request:
    branches:
      - zkevm
      - zkevm-2.60
      - stable/**
      - project/**
  workflow_dispatch:

jobs:
  unwind-tests:
    runs-on: ubuntu-22.04

    steps:
      - name: Checkout cdk-erigon
        uses: actions/checkout@v4
        with:
          path: cdk-erigon

      - uses: actions/setup-go@v4
        with:
          go-version: '1.24'

      - name: Install dependencies on Linux
        if: runner.os == 'Linux'
        run: sudo apt update && sudo apt install -y build-essential lsof

      - name: Build
        run: |
          cd ./cdk-erigon
          make -j$(nproc) cdk-erigon

      - name: Prepare configs
        run: |
          cd ./cdk-erigon
          cp ./zk/tests/unwinds/config-shared/dynamic-integration-allocs.json ./
          cp ./zk/tests/unwinds/config-shared/dynamic-integration-conf.json ./
          cp ./zk/tests/unwinds/config/dynamic-integration8.yaml ./
          cp ./zk/tests/unwinds/config/dynamic-integration-chainspec.json ./

      - name: Run tests
        run: |
          cd ./cdk-erigon
          chmod +x ./zk/tests/unwinds/unwind.sh
          dsDir=hermez-dynamic-integration8-datastream
          dsFile=datastream-net8-upto-11318-101.zip
          firstStop=11203
          secondStop=11315
          unwindToBatch=70
          smtV2Only=true
          ./zk/tests/unwinds/unwind.sh $dsDir $dsFile $firstStop $secondStop $unwindToBatch $smtV2Only
