name: Hive EEST tests

on:
  push:
    branches:
        - release/*
        - main
  workflow_dispatch:

jobs:
  test-hive-eest:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Hive
        uses: actions/checkout@v4
        with:
          repository: erigontech/hive
          # ref: prague-devnet-4
          path: hive

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.ORG_DOCKERHUB_ERIGONTECH_USERNAME }}
          password: ${{ secrets.ORG_DOCKERHUB_ERIGONTECH_TOKEN }}
    
      - name: Setup go env and cache
        uses: actions/setup-go@v5
        with:
          go-version: '>=1.23'
          go-version-file: 'hive/go.mod'

      # Targetting the clients/erigon/Dockerfile.git in the Hive director - 
      # this builds the container from github and uses it for tests
      - name: Get dependencies and build hive
        run: |
          cd hive
          git status
          go get . >> buildlogs.log
          rm clients/erigon/Dockerfile
          mv clients/erigon/Dockerfile.git clients/erigon/Dockerfile
          branch_name=$(echo ${GITHUB_REF#refs/heads/}  | sed 's/[&/\]/\\&/g')
          echo Building Hive with Erigon branch - $branch_name
          sed -i "s/^ARG github=ledgerwatch\/erigon$/ARG github=erigontech\/erigon/" clients/erigon/Dockerfile
          sed -i "s/^ARG tag=main$/ARG tag=${branch_name}/" clients/erigon/Dockerfile
          go build . >> buildlogs.log
      # Depends on the last line of hive output that prints the number of suites, tests and failed
      # Currently, we fail even if suites and tests are too few, indicating the tests did not run
      # We also fail if more than half the tests fail
      - name: Run hive tests and parse output
        run: |
          cd hive
          run_suite() {
            echo -e "\n\n============================================================"
            echo "Running test: ${1}"
            echo -e "\n"
            ./hive --sim 'ethereum/eest/consume-engine' --sim.parallelism=4 --client erigon --sim.buildarg fixtures=https://github.com/ethereum/execution-spec-tests/releases/download/v4.5.0/fixtures_develop.tar.gz 2>&1 | tee output.log || {
              if [ $? -gt 0 ]; then
                echo "Exitcode gt 0"
              fi
            }
            status_line=$(tail -2 output.log | head -1 | sed -r "s/\x1B\[[0-9;]*[a-zA-Z]//g")
            suites=$(echo "$status_line" | sed -n 's/.*suites=\([0-9]*\).*/\1/p')
            if [ -z "$suites" ]; then
              status_line=$(tail -1 output.log | sed -r "s/\x1B\[[0-9;]*[a-zA-Z]//g")
              suites=$(echo "$status_line" | sed -n 's/.*suites=\([0-9]*\).*/\1/p')
            fi 
            tests=$(echo "$status_line" | sed -n 's/.*tests=\([0-9]*\).*/\1/p')
            failed=$(echo "$status_line" | sed -n 's/.*failed=\([0-9]*\).*/\1/p')

            echo -e "\n"
            echo "-----------   Results for ${1}    -----------" 
            echo "Tests: $tests, Failed: $failed"
            echo -e "\n\n============================================================"

            if (( tests < 4 )); then
              echo "Too few tests run for suite ${1} - ${tests} tests"
              echo "failed" > failed.log
              exit 1
            fi
            if (( failed > 3 )); then
              echo "Too many failures for suite ${1} - ${failed} failed out of ${tests}"
              echo "failed" > failed.log
              exit 1
            fi
          }
          run_suite eest/consume-engine
        continue-on-error: true
      - name: Upload output log
        uses: actions/upload-artifact@v4
        with:
          name: hive-workspace-log
          path: hive/workspace/logs
      - name: Check for failures
        run: |
          if grep -q "failed" hive/failed.log; then
            echo "One or more tests failed."
            exit 1
          fi
