name: Kurtosis Assertoor GitHub Action

env:
  DOCKERHUB_REPOSITORY: "erigontech/erigon"
  APP_REPO: "erigontech/erigon"

on:
  push:
    branches:
        - main
        - 'release/**'
        - docker_pectra
  workflow_call:
  workflow_dispatch:

jobs:
  assertoor_regular_test:
    runs-on: ubuntu-latest

    steps:
      - name: Fast checkout git repository
        uses: actions/checkout@v5

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.ORG_DOCKERHUB_ERIGONTECH_USERNAME }}
          password: ${{ secrets.ORG_DOCKERHUB_ERIGONTECH_TOKEN }}

      - name: Docker build current branch
        run: |
          docker build -t test/erigon:current .

      - name: Run regular Kurtosis + assertoor tests
        uses: ethpandaops/kurtosis-assertoor-github-action@v1
        with:
            enclave_name: "kurtosis-run1-${{ github.run_id }}"
            ethereum_package_args: ".github/workflows/kurtosis/regular-assertoor.io"
            kurtosis_extra_args: --verbosity detailed --cli-log-level trace
            persistent_logs: "true"

  assertoor_pectra_test:
    runs-on: ubuntu-latest

    steps:
      - name: Fast checkout git repository
        uses: actions/checkout@v5

      - name: Login to Docker Hub
        uses: docker/login-action@9780b0c442fbb1117ed29e0efdff1e18412f7567  ## v3.3.0
        with:
          username: ${{ secrets.ORG_DOCKERHUB_ERIGONTECH_USERNAME }}
          password: ${{ secrets.ORG_DOCKERHUB_ERIGONTECH_TOKEN }}

      - name: Docker build current branch
        run: |
          docker build -t test/erigon:current .

      - name: Run Pectra Kurtosis + assertoor tests
        uses: ethpandaops/kurtosis-assertoor-github-action@v1
        with:
            enclave_name: "kurtosis-run2-${{ github.run_id }}"
            ethereum_package_args: ".github/workflows/kurtosis/pectra.io"
            kurtosis_extra_args: --verbosity detailed --cli-log-level trace
            persistent_logs: "true"
