name: Consensus spec
on:
  push:
    branches:
      - main
      - 'release/**'
  pull_request:
    branches:
      - main
      - 'release/**'
    types:
      - opened
      - reopened
      - synchronize
      - ready_for_review

jobs:
  tests:
    strategy:
      matrix:
        #        disable macos-15 until https://github.com/erigontech/erigon/issues/8789
        os: [ ubuntu-24.04 ] # list of os: https://github.com/actions/virtual-environments
    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-go@v6
        with:
          go-version: '1.25'
          cache: ${{ github.ref == 'refs/heads/main' || startsWith(github.ref, 'refs/heads/release/') }}

      - name: Install dependencies on Linux
        if: runner.os == 'Linux'
        run: sudo apt update -y && sudo apt install -y build-essential

      - name: test-integration-caplin
        run: cd cl/spectest && make tests && make mainnet

  tests-windows:
    strategy:
      matrix:
        os: [ windows-2025 ]
    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-go@v6
        with:
          go-version: '1.25'
          cache: ${{ github.ref == 'refs/heads/main' || startsWith(github.ref, 'refs/heads/release/') }}          

      - uses: actions/cache@v4
        if: |
          needs.source-of-changes.outputs.changed_files != 'true' && 
          ( ${{ github.ref == 'refs/heads/main' || startsWith(github.ref, 'refs/heads/release/') }} )
        with:
          path: |
            C:\ProgramData\chocolatey\lib\mingw
            C:\ProgramData\chocolatey\lib\cmake
          key: chocolatey-${{ matrix.os }}

      - name: Install dependencies
        run: |
          choco upgrade mingw -y --no-progress --version 14.2.0

      - name: test-integration-caplin
        run: cd ./cl/spectest/ && .\wmake.ps1 Tests Mainnet
