name: Consensus spec
on:
  push:
    branches:
      - main
      - 'release/**'
  pull_request:
    branches:
      - main
      - 'release/**'
      - performance
      - performance-stable
    types:
      - opened
      - reopened
      - synchronize
      - ready_for_review

jobs:
  tests:
    strategy:
      matrix:
        #        disable macos-15 until https://github.com/erigontech/erigon/issues/8789
        os: [ ubuntu-24.04 ] # required check includes runner version. Do not change it only here.
    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 1

      - uses: actions/setup-go@v6
        with:
          go-version: '1.25'
          cache: ${{ github.ref == 'refs/heads/main' || startsWith(github.ref, 'refs/heads/release/') }}

      - name: Install dependencies on Linux
        if: runner.os == 'Linux'
        run: sudo apt update -y && sudo apt install -y build-essential

      - name: Download consensus spec tests
        id: download-spec-tests
        continue-on-error: true
        run: cd cl/spectest && make download-spec

      - name: Run consensus spec tests
        if: steps.download-spec-tests.outcome == 'success'
        run: cd cl/spectest && make tests && make mainnet

  tests-windows:
    strategy:
      matrix:
        os: [ windows-2025 ]
    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 1

      - uses: actions/setup-go@v6
        with:
          go-version: '1.25'
          cache: ${{ github.ref == 'refs/heads/main' || startsWith(github.ref, 'refs/heads/release/') }}

      - name: Install make
        run: choco install make -y

      - name: test-integration-caplin
        shell: bash
        run: cd cl/spectest && make tests mainnet
