name: Consensus spec
on:
  push:
    branches:
      - main
      - 'release/**'
  pull_request:
    branches:
      - main
      - 'release/**'
      - performance
      - performance-stable
    types:
      - opened
      - reopened
      - synchronize
      - ready_for_review

defaults:
  run:
    shell: bash

jobs:
  tests:
    strategy:
      matrix:
        #        disable macos-15 until https://github.com/erigontech/erigon/issues/8789
        os: [ ubuntu-24.04 ] # required check includes runner version. Do not change it only here.
    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout custom actions
        uses: actions/checkout@v6
        with:
          fetch-depth: 1

      - uses: ./.github/actions/setup-erigon
        id: erigon

      - name: Download consensus spec tests
        id: download-spec-tests
        continue-on-error: true
        run: cd cl/spectest && make download-spec

      - name: Run consensus spec tests
        if: steps.download-spec-tests.outcome == 'success'
        run: |
          cd cl/spectest && make tests
          make mainnet 2>&1 | ../../tools/filter-test-output

  tests-windows:
    strategy:
      matrix:
        os: [ windows-2025 ]
    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout custom actions
        uses: actions/checkout@v6
        with:
          fetch-depth: 1

      - uses: ./.github/actions/setup-erigon
        id: erigon

      - name: test-integration-caplin
        run: |
          cd cl/spectest && make tests
          make mainnet 2>&1 | ../../tools/filter-test-output
