name: All tests (with -race)

on:
  push:
    branches:
      - 'release/**'
      - main
  pull_request:
    branches:
      - 'release/**'
      - 'main'
  workflow_dispatch:

defaults:
  run:
    shell: bash

jobs:
  # 
  # This first job is used to determine if changes are within out-of-scope dirs or files (in such case the tests are not run because they would be meaningless)
  # NOTE: this logic is needed because the simple 'paths-ignore:' doesn't work since this workflow is set as a mandatory/required check for this repo
  # - '**/.github/workflows/**' is currently commented to avoid unintended freeze in case of concurrent changes outside the excluded paths (further development will be done in due course)
  # 
  source-of-changes:
    runs-on: ubuntu-latest
    outputs:
      changed_files: ${{ steps.filter.outputs.changed_files }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Check for changes within out-of-scope dirs or files
        id: filter
        uses: dorny/paths-filter@v3
        with:
          filters: |
            changed_files:
              - 'dashboards/**'
              # - '**/.github/workflows/**'
              - '**/.github/workflows/backups-dashboards.yml'
  tests-linux:
    needs: source-of-changes
    timeout-minutes: 90
    concurrency:
      # concurrency group: there can be at most one running and one pending job in a 
      # concurrency group at any time. So for commits on main/release, we use different 
      # concurrency group per commit; for other branches, we use a branch-level CG.
      group: >-
        ${{
          (github.ref == 'refs/heads/main' || startsWith(github.ref, 'refs/heads/release/')) &&
          format('{0}-{1}-{2}-{3}', github.workflow, matrix.os, matrix.test-group, github.run_id) ||
          format('{0}-{1}-{2}-{3}', github.workflow, matrix.os, matrix.test-group, github.ref)
        }}
      cancel-in-progress: true
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
        test-group:
          - execution-tests
          - eest-frontier-scenarios
          - eest-osaka-clz
          - eest-prague-calldata
          - eest-cancun-blobs
          - execution-other
          - consensus
          - core-rpc
          - other
    runs-on: ${{ matrix.os }}

    steps:
      - name: Declare runners
        if: needs.source-of-changes.outputs.changed_files != 'true'
        run: |
          set +x
          echo "This workflow is being executed by this runner: $RUNNER_NAME"
          
      - name: Checkout custom actions
        uses: actions/checkout@v6
        with:
          fetch-depth: 1

      - if: needs.source-of-changes.outputs.changed_files != 'true'
        uses: ./.github/actions/setup-erigon
        id: erigon
        with:
          submodules: true
          lfs: tests
          build-cache-extra-key: ${{ matrix.test-group }}

      - name: Run ${{ matrix.test-group }} tests on ${{ matrix.os }}
        env:
          SKIP_FLAKY_TESTS: 'true'
          GODEBUG: cgocheck=0
          GOTRACEBACK: 1
          GOGC: 80
          CGO_CFLAGS: -D__BLST_PORTABLE__
          GOFLAGS: -race
        if: needs.source-of-changes.outputs.changed_files != 'true'
        run: ./tools/run-test-group ${{ matrix.test-group }}

      - uses: ./.github/actions/cleanup-erigon
        if: always()

      - name: This ${{ matrix.os }} check does not make sense for changes within out-of-scope directories
        if: needs.source-of-changes.outputs.changed_files == 'true'
        run: echo "This check does not make sense for changes within out-of-scope directories"
